{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>نظر</title>
  <link rel="stylesheet" href="{% static '/flat-responsive-form-using-css3-html5/src/style2.css' %}">
</head>
<body>
  
</body>
</html>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" method="post">
      {% csrf_token %}
      <p class="name">
      {{idea.name}}:نام
      </p>
      
      <p class="email">
      {{idea.email}}:ایمیل
      </p>
      
      <p class="text">
        {{idea.idea}}:ایدهa
      </p>
      
      
      <div class="submit">
        <input type="submit" value="ارسال" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>